<html >
<head>
    <!-- CSS only -->
    <style>
        body{
            background-image: url('/images/background.jpeg' );
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; 
        }
    </style>
    <title>Todo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    
<%-include('_header')-%>

<div class="container col-lg-8 col-sm-12"  >
    <div class="row" style=" margin-top: 5vh ;">
        <% if( locals.user ){ %>
            
            <form action="todo/add" method="post">
                <div class="form-group">
                  <label for="exampleInputEmail1">Enter Task</label>
                  <input name="task" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Task" required>
                </div>

                <input type="hidden" name = "user" value="<%= locals.user.id%>">
                
                
                <button type="submit" class="btn btn-primary text-center" style="margin-left: 30vw ;margin-top: 3vh ;" >Submit</button>
              </form>


    
        <% } %>
    </div>
    <div class = "row">
        <div class = "col-lg-8 col-sm-12" >
            <ul>
                <% if( locals.user ){ %>
                    <% for( todo of todos ){ %>
                        <div style=" padding: 10px ; margin: 20px ; border: 2px solid green ; border-radius: 5px ;">
                            <li style="list-style: none;font-size: 1.5rem ;"> 
                                <%= todo.task %> 
                                <a href="/todo/delete/<%=todo._id%>">
                                    <i class="fa-solid fa-trash"style="float: right ;"></i>
                                </a>
                                
                            </li>

                        </div>
                    
                    <% } %>
                <% }else{ %>
                    <h1>Welcome to To Do Website</h1>
            
                <% } %>
            </ul>


        </div>
    </div>

</div>

<script src="https://kit.fontawesome.com/b7f66247b9.js" crossorigin="anonymous"></script>
</body>

</html>
 

