<%-include('_header')-%>
<title>Profile</title>


<body class="text-center" style=" height:100vh; background-image: url('/images/background.jpeg'); background-repeat: no-repeat; background-position: center; background-size: cover; "  >

    
    <h5> Name : <%= locals.user.name %> </h5>
    <h5>Email : <%= locals.user.email %></h5>
    


</body>


 