<head>
  <title>Sign In</title>

    <style>
        input{
            display: block ;
            margin: 20px ;

        }
    </style>
    

</head>
<%- include('_header')-%>

<!--  background-image: url('/images/background.jpeg' ); -->

<body style="background-image: url('/images/background.jpeg') ; background-repeat: no-repeat; background-position: center; background-size: cover; ">

    <form action = "/users/createSession" method="post">
        <div class="form-group m-4">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name = "email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group m-4">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name = "password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
        </div>
        
        <button type="submit" class="btn btn-primary" style="margin-left:2vw;">Submit</button>
      </form>
    

</body>

